<article class="detail">
	{{#poster_path}}
		<img class="detail-image" alt="detail-image" src="https://image.tmdb.org/t/p/original/{{poster_path}}">
	{{/poster_path}}
	{{^poster_path}}
		<img class="detail-image" alt="detail-image" src="./images/noimage.png">
	{{/poster_path}}
	<div class="detail-container">
		<div class="detail-container-links">
			<a class="detail-favorite" data-id="{{id}}" data-type="movie" data-append="true" title=""></a>
			<a class="detail-watchlist" data-id="{{id}}" data-type="movie" data-append="true" title=""></a>
			<a class="detail-close" title="Close"><i class="fas fa-times"></i></a>
		</div>
		<div class="detail-container-info">
			<h2>{{title}}</h2>
			{{#tagline}}
				<h3>{{tagline}}</h3>
			{{/tagline}}
			{{#overview}}
				<br>
				<p><strong>Overview:</strong></p>
				<p>{{{overview}}}</p>
			{{/overview}}
			<br>
			<p><strong>Cast:</strong></p>
			{{#cast}}
				~ <a class="detail-cast-link" data-id={{#id}}{{id}}{{/id}}>{{name}} ~ {{character}}</a><br>
			{{/cast}}
			<br>
			<p><strong>Status:</strong> {{status}}</p>
			<p><strong>Release Date:</strong> {{release_date}}</p>
			{{#runtime}}
				<p>Runtime: {{runtime}} minutes</p>
			{{/runtime}}
			{{#budget}}
				<p>Budget: ${{budget}}</p>
			{{/budget}}
			{{#revenue}}
				<p>Total Revenue: ${{revenue}}</p>
			{{/revenue}}
			{{#homepage}}
				<br>
				<a target="_blank" href={{homepage}}>{{homepage}}</a>
			{{/homepage}}
		<div>
	</div>
</article>